#root > div > h2 {
  color: white;
  margin: 50px;
  text-align: center;
}

.repo-detail img {
  max-width: 64px;
  margin-right: 10px;
  float: right;
}
.media-body .media-heading {
  float: left;
  margin-right: 10px;
}
.repo-detail .details {
  line-height: 1.5em;
}
.repo-detail .list-group {
  width: auto;
}

.list-group-pixel {
  cursor: pointer;
}

.list-group {
  max-height: 600px;
  margin-bottom: 10px;
  margin-top: 15px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  color: black;
}

.list-group-item :hover {
  background-color: #eee;
}
.container {
  color: #55585e;
}
html body {
  background-color: black;
}

.withPadding {
  padding:10px;
}
